extends layout

block content

  div.top
    nav.navbar.navbar-default.navbar-static-top
      a.navbar-brand.
        Project
      ul.nav.navbar-nav
        li.nav-item.active
          a.nav-link.
            거래 내역

  div.container
    table.table.table-striped.table-bordered
      thead
        tr
          th 일련번호
          th 종목명
          th 매도
          th 매수
          th 수량
          th 금액
          th 거래일자
      tbody
        for item, i in list
          if item.issuerSign == 'Y' && item.receiverSign == 'Y'
            tr
              td(style='vertical-align:middle;') #{i+1}
              td(style='vertical-align:middle;')
                a(href='javascript:getHistoryAssetInfo("#{item.assetCode}")') #{item.assetName}
              td(style='vertical-align:middle;') #{item.fromAddress}
              td(style='vertical-align:middle;') #{item.toAddress}
              td(style='vertical-align:middle;') #{item.amount}
              td(style='vertical-align:middle;') #{item.amount * item.unitPrice}
              td(style='vertical-align:middle;') #{item.updatedAt}


  div(class='modal fade', id='historyDetail', role='dialog')
    div.modal-dialog

      div.modal-content
        div.modal-body

          table.table.table-striped.table-bordered
            tbody
              tr
                td 종목코드
                td KR1015014320
              tr
                td 종목명
                td 국민주택 2013-02
              tr
                td 발행일
                td 2013-02-28
              tr
                td 만기일
                td 2018-02-28
              tr
                td 이자지급유형
                td 복리채
              tr
                td 이자계산주기(월)
                td 12
              tr
                td 표면금리
                td 2.5
              tr
                td 온라인소유자
                td 게시자A
              tr
                td 수량
                td 100

        div.modal-footer
          button(type='button', class='btn btn-default', data-dismiss='modal') 닫기

  div(class='modal fade', id='historyAssetDetail', role='dialog')
    div.modal-dialog

      div.modal-content
        div.modal-body

          hr

          p(style="display:inline") 종목코드 :
          p(id='historyAssetCode', style="display:inline")
          br

          p(style="display:inline") 종목명 :
          p(id='historyAssetName', style="display:inline")
          br

          p(style="display:inline") 발행일 :
          p(id='historyCreatedAt', style="display:inline")
          br

          p(style="display:inline") 만기일 :
          p(id='historyExpiredAt', style="display:inline")
          br

          p(style="display:inline") 이자지급유형 :
          p(id='historyInterestType', style="display:inline")
          br

          p(style="display:inline") 이자계산주기(월) :
          p(id='historyInterestPeriod', style="display:inline")
          br

          p(style="display:inline") 표면금리 :
          p(id='historyInterestRate', style="display:inline")
          br

          p(style="display:inline") 수량 :
          p(id='historyAmount', style="display:inline")
          br

        div.modal-footer
          button(type='button', class='btn btn-default', data-dismiss='modal') 확인

  //h1= title
  //p Welcome to #{title}
