extends layout

block content

  div.top
    nav.navbar.navbar-default.navbar-static-top
      ul.nav.navbar-nav
        li.nav-item.active
          a.nav-link.
            거래 결과

  div.table-responsive
    table.table.table-striped.table-bordered
      thead
        tr
          th 일련번호
          th 종목명
          th 매도
          th 매수
          th 수량
          th 금액
          th 거래일자
      tbody
        for item, i in list
          if item.issuerSign == 'Y' && item.receiverSign == 'Y'
            tr
              td(style='vertical-align:middle;') #{i+1}
              td(style='vertical-align:middle;')
                a(href='javascript:getHistoryAssetInfo("#{item.assetCode}")') #{item.assetName}
              td(style='vertical-align:middle;')
                a(data-toggle='popover', data-content='#{item.fromAddress}') #{item.fromAddress.substr(1, 7)} ..
              td(style='vertical-align:middle;')
                a(data-toggle='popover', data-content='#{item.toAddress}') #{item.toAddress.substr(1, 7)} ..
              td(style='vertical-align:middle;') #{item.amount}
              td(style='vertical-align:middle;') #{item.amount * item.unitPrice}
              td(style='vertical-align:middle;') #{item.updatedAt}


  div(class='modal fade', id='historyAssetDetail', role='dialog')
    div.modal-dialog

      div.modal-content
        div.modal-body

          hr

          table.table.table-borderless
            tr
              td
                p(style="display:inline") 종목코드 :
                p(id='historyAssetCode', style="display:inline")

            tr
              td
                p(style="display:inline") 종목명 :
                p(id='historyAssetName', style="display:inline")

            tr
              td
                p(style="display:inline") 발행일 :
                p(id='historyCreatedAt', style="display:inline")

            tr
              td
                p(style="display:inline") 발행사 :
                p(id='historyListIssuer', style="display:inline")

            tr
              td
                p(style="display:inline") 만기일 :
                p(id='historyExpiredAt', style="display:inline")

            tr
              td
                p(style="display:inline") 이자지급유형 :
                p(id='historyInterestType', style="display:inline")

            tr
              td
                p(style="display:inline") 이자계산주기(월) :
                p(id='historyInterestPeriod', style="display:inline")

            tr
              td
                p(style="display:inline") 표면금리 :
                p(id='historyInterestRate', style="display:inline")

            tr
              td
                p(style="display:inline") 수량 :
                p(id='historyAmount', style="display:inline")

        div.modal-footer
          button(type='button', class='btn btn-default', data-dismiss='modal') 확인

  //h1= title
  //p Welcome to #{title}
