extends layout

block content

  div.top
    nav.navbar.navbar-default.navbar-static-top
      ul.nav.navbar-nav
        li.nav-item.active
          a.nav-link.
            거래 게시판

  div.table-responsive
    table.table.table-striped.table-bordered
      thead
        tr
          th 시간
          th 종목명
          th 만기일
          th 구분
          th 단가
          th 수량
          th 상태
          th 거래참여
      tbody
        for item in list
          tr
            td(style='vertical-align:middle;') #{item.createdAt}
            td(style='vertical-align:middle;')
              a(href='javascript:getAssetInfo("#{item.assetCode}")') #{item.assetName}
            td(style='vertical-align:middle;') #{item.expiredAt}
            td(style='vertical-align:middle;') #{item.type == 'sell' ? '매도' : '매수'}
            td(style='vertical-align:middle;') #{item.unitPrice}
            td(style='vertical-align:middle;') #{item.amount}
            td(style='vertical-align:middle;') #{item.status == 1 ? '대기' : '완료'}
            td(style='vertical-align:middle; text-align:center;')
              button(class='btn btn-default #{item.status == 1 ? "active" : "disabled"}', onclick='joinTrade("#{item.assetCode}", #{item.status})') 거래참여

  div(class='modal fade', id='listAssetDetail', role='dialog')
    div.modal-dialog

      div.modal-content
        div.modal-body

          hr

          table.table.table-borderless
            tr
              td
                p(style="display:inline") 종목코드 :
                p(id='listAssetCode', style="display:inline")

            tr
              td
                p(style="display:inline") 종목명 :
                p(id='listAssetName', style="display:inline")

            tr
              td
                p(style="display:inline") 발행일 :
                p(id='listCreatedAt', style="display:inline")

            tr
              td
                p(style="display:inline") 만기일 :
                p(id='listExpiredAt', style="display:inline")

            tr
              td
                p(style="display:inline") 이자지급유형 :
                p(id='listInterestType', style="display:inline")

            tr
              td
                p(style="display:inline") 이자계산주기(월) :
                p(id='listInterestPeriod', style="display:inline")

            tr
              td
                p(style="display:inline") 표면금리 :
                p(id='listInterestRate', style="display:inline")

            tr
              td
                p(style="display:inline") 수량 :
                p(id='listAmount', style="display:inline")

        div.modal-footer
          button(type='button', class='btn btn-default', data-dismiss='modal') 확인

  //h1= title
  //p Welcome to #{title}
