extends layout

block content

  div.top
    nav.navbar.navbar-default.navbar-static-top
      ul.nav.navbar-nav
        li.nav-item.active
          a.nav-link.
            메신저

  div.container

      label 거래 메신저
      span#feedback



      form.form-inline
        div
          br
          table.table.table-borderless
            tr
              td(width='30%')
                div#issuerMsgWindow.shadow
                  ul(id='issuerWindow')

              td
                div#UserWindowForIssuer.shadow
                  ul(id='issuerUserWindow')
                    p 참여자 : #{issuer}

            tr
              td
                select(class='form-control input-medium', id='issuerAssetName') 종목
                  option(value='') - 종목선택 -
                  for asset in assets
                    option(value='#{asset.assetName}') #{asset.assetName}

              td(rowspan="3")
                button(id='issuerConfirmBtn', style='margin-left:15px;', class='btn btn-default btn-lg') 거래확정
            tr
              td
                b(style='margin-left:1px;') 단가
                input(id='issuerUnitPrice', type='text', style='margin-left:10px;', class='input-medium')
            tr
              td
                b(style='margin-left:1px;') 수량
                input(id='issuerAmount', type='text', style='margin-left:10px;', class='input-medium')
            tr
              td
                b(style='margin-left:5px;') 나의 잔고
                button(id='issuerAssetBtn', style='margin-left:15px;', class='btn btn-default btn-s') 조회
            tr
              td
                textarea(id='issuerMessage', class='form-control', style='min-width: 100%', rows='3')
              td
                button(id='issuerSendBtn', style='margin-left:15px;', class='btn btn-default btn-lg') 보내기
                button(id='issuerExitChat', style='margin-left:15px;', class='btn btn-default btn-lg') 나가기



  div(class='modal fade', id='issuerSign', role='dialog')
    div.modal-dialog

      div.modal-content
        div.modal-body

          h2 거래 확정
          hr

          table.table.table-borderless
            tr
              td
                p(style="display:inline") 종목 :
                p(id='modalAssetName', style="display:inline")
            tr
              td
                p(style="display:inline") 단가 :
                p(id='modalUnitPrice', style="display:inline")

            tr
              td
                p(style="display:inline") 수량 :
                p(id='modalAmount', style="display:inline")

        div.modal-footer
          button(id='issuerSignBtn', type='button', class='btn btn-default', data-dismiss='modal') sign


  div(class='modal fade', id='receiverSignComplete', role='dialog')
    div.modal-dialog

      div.modal-content
        div.modal-body

          h2 거래 확정 완료
          hr

          table.table.table-borderless
            tr
              td
                p(id='modalReceiverName', style="display:inline")
            tr
              td
                p(style="display:inline") 종목 :
                p(id='modalIssuerAssetName', style="display:inline")
            tr
              td
                p(style="display:inline") 단가 :
                p(id='modalIssuerUnitPrice', style="display:inline")
            tr
              td
                p(style="display:inline") 수량 :
                p(id='modalIssuerAmount', style="display:inline")

        div.modal-footer
          button(id='issuerCheckBtn', type='button', class='btn btn-default', data-dismiss='modal') 확인


  div(class='modal fade', id='issuerAssetInfo', role='dialog')
    div.modal-dialog

      div.modal-content
        div.modal-body

          h2 잔고 조회
          hr

          table.table.table-borderless
            for asset in assets
              tr
                td
                  a(onclick='setAsset("#{asset.assetName}")')
                    p(style="display:inline; margin-right:20px;") #{asset.assetName}
                    p(style="display:inline") #{asset.amount}

        div.modal-footer
          button(type='button', class='btn btn-default', data-dismiss='modal') 확인

  //h1= title
  //p Welcome to #{title}
