extends layout

block content

  div.top
    nav.navbar.navbar-default.navbar-static-top
      a.navbar-brand.
        Project
      ul.nav.navbar-nav
        li.nav-item.active
          a.nav-link.
            메신저

  div.container

      label 거래 메신저
      span#feedback



      form.form-inline
        div
          br
          table.table.table-borderless
            tr
              td(width='40%')
                div#msgWindow.shadow
                  ul(id='issuerWindow')

              td
                div#userWindow.shadow
                  ul(id='issuerUserWindow')
                    p 참여자 : #{issuer}

            tr
              td
                select(class='form-control', id='issuerAssetName') 종목
                  option(value='') - 종목선택 -
                  for asset in assets
                    option(value='#{asset.assetName}') #{asset.assetName}

                b(style='margin-left:15px;') 단가
                input(id='issuerUnitPrice', type='text', style='margin-left:10px;', size='15px')
                b(style='margin-left:15px;') 수량
                input(id='issuerAmount', type='text', style='margin-left:10px;', size='15px')

              td
                button(id='issuerConfirmBtn', style='margin-left:15px;', class='btn btn-default btn-lg') 자산확정
            tr
              td
                b(style='margin-left:5px;') 나의 잔고
                button(id='issuerAssetBtn', style='margin-left:15px;', class='btn btn-default btn-s') 조회
            tr
              td
                textarea(id='issuerMessage', class='form-control', style='min-width: 100%', rows='3')
              td
                button(id='issuerSendBtn', style='margin-left:15px;', class='btn btn-default btn-lg') 보내기
                button(id='issuerExitChat', style='margin-left:15px;', class='btn btn-default btn-lg') 나가기



  div(class='modal fade', id='issuerSign', role='dialog')
    div.modal-dialog

      div.modal-content
        div.modal-body

          h2 거래 확정
          hr

          p(style="display:inline") 종목 :
          p(id='modalAssetName', style="display:inline")
          br

          p(style="display:inline") 단가 :
          p(id='modalUnitPrice', style="display:inline")
          br

          p(style="display:inline") 수량 :
          p(id='modalAmount', style="display:inline")
          br

        div.modal-footer
          button(id='issuerSignBtn', type='button', class='btn btn-default', data-dismiss='modal') sign



  div(class='modal fade', id='receiverSignComplete', role='dialog')
    div.modal-dialog

      div.modal-content
        div.modal-body

          h2 거래 확정 완료
          hr

          p(id='modalReceiverName', style="display:inline")
          br

          p(style="display:inline") 종목 :
          p(id='modalIssuerAssetName', style="display:inline")
          br

          p(style="display:inline") 단가 :
          p(id='modalIssuerUnitPrice', style="display:inline")
          br

          p(style="display:inline") 수량 :
          p(id='modalIssuerAmount', style="display:inline")
          br

        div.modal-footer
          button(id='issuerCheckBtn', type='button', class='btn btn-default', data-dismiss='modal') 확인

  div(class='modal fade', id='issuerAssetInfo', role='dialog')
    div.modal-dialog

      div.modal-content
        div.modal-body

          h2 잔고 조회
          hr

          for asset in assets
            p(style="display:inline; margin-right:20px;") #{asset.assetName}
            p(style="display:inline") #{asset.amount}
            br

        div.modal-footer
          button(type='button', class='btn btn-default', data-dismiss='modal') 확인

  //h1= title
  //p Welcome to #{title}
